<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- configurate these to your incoming mailserver -->
        <!-- pop3 address often pop3.mailservername.com or mail.mailserver.com -->
        <add key="IncomingMailserverPop3Hostname" value="mail.michaelmrowetz.com"/>
        <!-- 110 for plain POP3, 995 for SSL POP3 -->
        <add key="IncomingMailserverPop3Port" value="110"/> 
        <!-- username on IncomingMailserverPop3 to receive mail -->
        <add key="IncomingMailserverUsername" value="sendtokindle@michaelmrowetz.com"/>
        <!-- password on IncomingMailserverPop3 to receive mail -->
        <add key="IncomingMailserverPassword" value="AddYourOwn"/> 

        <!-- configurate these to your outgoing mailserver -->
        <!-- pop3 address often smtp.mailservername.com or mail.mailserver.com -->
        <add key="OutgoingMailserverSmtpHostname" value="mail.michaelmrowetz.com"/>
        <!-- commonly 25 or 587 -->
        <add key="OutgoingMailserverSmtoPort" value="25"/>            
        <!-- username on OutgoingMailserverSmtpHostname to receive mail -->
        <add key="OutgoingMailserverUsername" value="sendtokindle@michaelmrowetz.com"/>
        <!-- password on OutgoingMailserverSmtpHostname to receive mail -->
        <add key="OutgoingMailserverPassword" value="AddYourOwn"/>
                
        
        <add key="DeleteEmailsAfterFetching" value="false"/>
        <add key="EmailFrom" value="sendtokindle@michaelmrowetz.com"/>
        
    </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
